services:
  nuxt:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: wko_nuxt
    ports:
      - "3001:80"
    environment:
      - NODE_ENV=production
      - BR_TOKEN=dein_baserow_token
      - BR_TABLE=deine_table_id